python-dotenv

pandas
numpy

sqlalchemy

langchain
langchain-core
langchain-community
langgraph
langchain-groq
langchain-ollama

scikit-learn

streamlit
fastapi
uvicorn

plotly
matplotlib

jupyter
ipykernel

langsmith