python-dotenv

APScheduler

pandas
numpy

sqlalchemy
sqlglot
pymysql

langchain
langchain-core
langchain-community
langgraph
langchain-groq
langchain-ollama

scikit-learn

streamlit
fastapi
uvicorn

plotly
matplotlib

jupyter
ipykernel

# removed: langsmith